<link href="{{ "card-product-predictive-search.css" | asset_url }}" rel="stylesheet">


<div class="card-product-predictive-search">

    <div class="card-product-predictive-search__details">
        <div class="card-product-predictive-search__title">
            <span><a href="{{ product.url | within: collection }}" aria-label="{{ product.title }}">{{ product.title }}</a></span>
        </div>
        <div class="card-product-predictive-search__price">
            {% render "product-price", product: product %}
        </div>
    </div>

</div>