<link href="{{ "cart-reminder.css" | asset_url }}" rel="stylesheet">

<div class="cart-reminder" id="cart-reminder"{% if request.design_mode %} style="display:none !important;"{% endif %}>
    <button class="cart-reminder__close" aria-label="{{ "accessibility.close" | t }}">{% render "icon-close.svg" %}</button>
    <div class="wrap wrap--xx-large">
        <div class="cart-reminder__header">
            <h3>{{ "cart.reminder" | t }}</h3>
        </div>
        <div class="cart-reminder__content" id="cart-reminder-content"></div>
        <div class="cart-reminder__footer">
            <div class="cart-reminder__footer__buttons">
                {% form 'cart', cart %}
                    <button name="checkout" class="button button--highlight">{{ 'cart.drawer.checkout' | t }}</button>
                {% endform %}
            </div>
        </div>
    </div>
</div>