<link href="{{ "drawer-guides.css" | asset_url }}" rel="stylesheet">
<link href="{{ "size-guides.css" | asset_url }}" rel="stylesheet">

<div class="drawer drawer-guides" id="drawer-guides">
    <div class="inner">
        <div class="drawer__header drawer-guides__header">
            <button class="toggle-drawer" aria-label="Close Drawer">{% render "icon-close.svg" %}</button>
        </div>
        <div class="drawer__content drawer-guides__content">
            {% for object in shop.metaobjects['size_chart'].values %}
                {% if object.product_type == current_product_type or object.product_type == "All" %}
                    {% render "size-guides", object: object %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script src="{{ "size-guides.js" | asset_url }}" defer></script>
