<link href="{{ "trustpilot-reviews.css" | asset_url }}" rel="stylesheet">

<div class="swiper swiper-reviews">
<div class="swiper-wrapper trustpilot-reviews" id="trustpilot-reviews"></div>
</div>

<script src="{{ "trustpilot-reviews.js" | asset_url }}" defer></script>