config.yml
node_modules
node_modules/*
.DS_Store
*/.DS_Store

templates/*.json
!templates/404.json
!templates/article.json
!templates/blog.json
!templates/cart.json
!templates/collection.json
!templates/index.json
!templates/list-collections.json
!templates/page.json
!templates/page.contact.json
!templates/page.custom.json
!templates/password.json
!templates/product.json
!templates/search.json