@import '../abstracts/variables';

.card-product {
	@include preload;
	width: 100%;
	max-width: 100%;
	&:hover {
		.product-card-nav {
			opacity: 1;
		}
	}
	.product-card-nav {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 2.5em;
		height: 4em;
		z-index: 3;
		background: url(icon-card-prev.svg) no-repeat 50% 50% / 2.5em;
		cursor: pointer;
		opacity: 0;
		transition: opacity 0.15s linear;
		@media (max-width: $w-m) {
			opacity: 1;
		}
		&--next {
			left: auto;
			right: 0;
			background: url(icon-card-next.svg) no-repeat 50% 50% / 2.5em;
		}
	}
	&__media {
		margin-bottom: 1em;
		width: 100%;
		.swiper {
			width: 100%;
			height: auto;
			position: relative;
			white-space: nowrap;
			.swiper-wrapper {
				width: inherit;
			}
		}
		.swiper-slide {
			&__video {
				position: relative;
				a {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
				}
			}
		}
		img {
			width: 100%;
			transition: opacity 0.25s linear;
			&.preload {
				opacity: 0;
			}
		}
		a {
			display: block;
			width: 100%;
		}
		video {
			width: 100%;
			height: auto;
		}
	}
	&__details {
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		a {
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
		.price {
			display: flex;
			gap: 0.5em;
			align-items: baseline;
			ins {
				border: none;
			}
		}
		.saving {
			// display: none;
			padding-left: 0.5em;
			span {
				@media (max-width: $w-m) {
					font-size: 1.08333333333em;
				}
			}
		}
		.money {
			@media (max-width: $w-m) {
				font-size: 1.08333333333em;
			}
		}
	}
	&__title {
		h4 {
			font-size: 1em;
			margin-bottom: 0;
		}
		span {
			@media (max-width: $w-m) {
				font-size: 1.08333333333em;
			}
		}
	}
	&__wishlist {
		display: none;
		button {
			display: flex;
			gap: 0.5em;
			opacity: 0.35;
			&.active {
				opacity: 1;
			}
			span {
				text-decoration: underline;
			}
			svg {
				width: 1.25em;
				height: 1.25em;
				path,
				circle {
					fill: none;
					stroke: $color-black;
					stroke-width: 2;
					stroke-linecap: round;
					stroke-linejoin: round;
				}
			}
		}
	}
}
