@import '../abstracts/variables';

.card-product {
	@include preload;
	&__media {
		margin-bottom: 1em;
		img {
			width: 100%;
		}
		a {
			display: block;
		}
		video {
			width: 100%;
			height: auto;
		}
	}
	&__details {
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		a {
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
		.price {
			display: flex;
			gap: 0.5em;
		}
	}
	&__title {
		h4 {
			font-size: 1em;
			margin-bottom: 0;
		}
	}
}
