@import '../abstracts/variables';

.card-product-lookbook {
	@include preload;
	&__media {
		@media (max-width: $w-m) {
			margin-bottom: 1em;
		}
		img {
			width: 100%;
		}
		a {
			display: block;
		}
		video {
			width: 100%;
			height: auto;
		}
	}
	&:hover {
		.card-product-lookbook__details {
			display: flex;
		}
	}
	&__details {
		display: none;
		flex-direction: column;
		gap: 0.25em;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.75);
		padding: 1em;
		justify-content: flex-end;
		pointer-events: none;
		@media (max-width: $w-l) {
			display: flex;
			position: relative;
			height: fit-content;
			padding: 0.5em 0;
			background-color: transparent;
		}
		@media (max-width: $w-m) {
			padding: 0;
		}
		a {
			text-decoration: none;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
		.price {
			display: flex;
			gap: 0.5em;
			ins {
				border: none;
			}
		}
	}
	&__title {
		h4 {
			font-size: 1em;
			margin-bottom: 0;
		}
	}
}
