@import '../abstracts/variables';

.card-product-predictive-search {
	&__details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.price {
			display: flex;
			gap: 0.5em;
		}
	}
}
