@import '../abstracts/variables';

.drawer-search-open {
	.drawer-search {
		display: block;
	}
}
.drawer-search {
	position: absolute;
	right: 0;
	left: auto;
	top: 100%;
	bottom: auto;
	width: 100vw;
	max-width: 40em;
	background-color: $color-white;
	z-index: 8;
	height: fit-content;
	transition: bottom 0.25s linear;
	overflow: visible;
	display: none;
	&__input {
		input {
			border: none;
			background-color: $color-grey-light;
			border-top: 1px solid $color-grey-medium;
			font-size: 1.25em;
			&:focus {
				border: none;
				background-color: $color-grey-light;
				border-top: 1px solid $color-grey-medium;
			}
		}
		&__label {
			display: none;
		}
	}
}
