@import '../abstracts/variables';

.drawer-cart-open {
	.drawer-cart {
		right: 0;
	}
}
.drawer-cart {
	.inner {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}
	&__header {
		padding: 2em 2em 0 2em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__text {
			font-size: 1.5em;
			font-weight: $weight-bold;
		}
		button {
			width: 3em;
			height: 3em;
			border-radius: 50%;
			background-color: $color-black;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				width: 1.25em;
				height: 1.25em;
				line {
					fill: none;
					stroke: $color-white;
					stroke-width: 2;
					stroke-linecap: round;
					stroke-linejoin: round;
				}
			}
		}
	}
	&__content {
		padding: 2em;
		overflow-y: auto;
		&.content-loading {
			display: flex;
			justify-content: center;
			padding: 5em 0;
			.cart-items {
				display: none;
			}
			.loading-icon {
				display: block;
			}
		}
		.loading-icon {
			display: none;
			width: 2em;
			height: 2em;
			svg {
				opacity: 1;
				width: 100%;
				height: auto;
				animation-name: spin;
				animation-duration: 1000ms;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				path {
					fill: $color-grey-medium;
				}
			}
		}
	}
	&__footer {
		padding: 2em;
	}
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
