@import '../abstracts/variables';

.drawer-cart-recommended {
	padding: 2em 0;
	&:not(.active) {
		display: none;
	}
	&.hidden {
		display: none;
	}
	&__header {
		padding-bottom: 1em;
		span {
			font-size: 1.5em;
			font-weight: $weight-bold;
		}
	}
}
