@import '../abstracts/variables';

.filters {
	position: relative;
	.filter-form {
		&__filters {
			display: flex;
			flex-direction: column;
			gap: 2em;
		}
		.filter-group {
			.filter-group-summary {
				padding-bottom: 0.5em;
				margin-bottom: 1em;
				border-bottom: 1px solid $color-grey-medium;
				span {
					font-size: 1.25em;
					font-weight: $weight-bold;
					line-height: 1;
				}
			}
			.filter-group-display {
				&__list {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 0.5em 1em;
					label {
						width: 100%;
						min-width: 100%;
						display: flex;
						align-items: center;
						gap: 0.5em;
						line-height: 1;
					}
				}
				&__price-range {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 1em;
				}
			}
		}
		&__sort {
			margin-top: 1.75em;
			label {
				display: block;
				padding-bottom: 0.5em;
				margin-bottom: 1em;
				border-bottom: 1px solid $color-grey-medium;
				span {
					text-transform: uppercase;
					font-size: 1.25em;
					font-weight: $weight-bold;
					line-height: 1;
				}
			}
			select {
				text-transform: uppercase;
			}
		}
		&__actions {
			padding-top: 1em;
		}
	}
}
