@import '../abstracts/variables';

.product-accordions {
	display: block;
	border-bottom: 1px solid $color-grey-medium;
	.accordion {
		padding: 0 1.5em;
		border-top: 1px solid $color-grey-medium;
		button {
			display: flex;
			height: 5em;
			text-transform: uppercase;
			font-weight: $weight-bold;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			.label {
				font-size: 1.16666666667em;
				line-height: 1;
				@media (max-width: $w-m) {
					font-size: 1.15em;
				}
			}
			.icon {
				width: 1em;
				height: 1em;
				position: relative;
				display: block;
				span {
					&:first-child {
						width: 100%;
						height: 0.16666666666em;
						background-color: $color-grey-dark;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
					&:last-child {
						width: 0.16666666666em;
						height: 100%;
						background-color: $color-grey-dark;
						position: absolute;
						left: 50%;
						top: 0;
						transform: translateX(-50%);
					}
				}
			}
		}
		&.open {
			.accordion-content {
				display: block;
			}
			.icon {
				span {
					&:last-child {
						display: none;
					}
				}
			}
		}
	}
	.accordion-content {
		display: none;
		padding-bottom: 1.25em;
		text-transform: none;
		p,
		ul,
		ol {
			letter-spacing: 0.5px;
			@media (max-width: $w-m) {
				font-size: 1.08333333333em;
			}
		}
		strong {
			text-transform: uppercase;
		}
	}
}
