@import '../abstracts/variables';

.product-media {
	position: relative;
	img,
	video {
		@include preload;
	}
	.swiper,
	.swiper-wrapper,
	.swiper-slide,
	.swiper-pagination-bullets,
	.pagination-bullet {
		@media (min-width: 769px) {
			all: unset;
			margin: 0;
			transform: none;
			box-sizing: border-box;
			transition-property: none;
			height: auto;
			overflow: visible;
		}
	}
	.swiper-wrapper {
		@media (min-width: 769px) {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0.25em;
			@media (max-width: $w-l) {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
	.swiper {
		@media (max-width: $w-m) {
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			height: inherit;
			min-height: inherit;
			position: relative;
		}
	}
	.swiper-wrapper {
		@media (max-width: $w-m) {
			height: 100%;
		}
	}
	.media-pagination {
		display: none !important;
		@media (min-width: 769px) {
			display: none;
		}
		@media (max-width: $w-m) {
			position: absolute;
			left: 50% !important;
			transform: translateX(-50%);
			bottom: 2em !important;
			width: 100%;
			display: flex;
			gap: 0.25em;
			z-index: 3;
			justify-content: center;
		}
		.swiper-pagination-bullet {
			@media (max-width: $w-m) {
				background-color: $color-white;
				opacity: 0.35;
				width: 1em;
				height: 1em;
			}
		}
		.swiper-pagination-bullet-active {
			@media (max-width: $w-m) {
				opacity: 1;
			}
		}
	}

	.product-media-nav {
		@media (min-width: 769px) {
			display: none;
		}
		@media (max-width: $w-m) {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 3em;
			height: 4em;
			z-index: 3;
			background: url(icon-card-prev.svg) no-repeat 50% 50% / cover;
			cursor: pointer;
			opacity: 0;
			transition: opacity 0.15s linear;
			@media (max-width: $w-m) {
				opacity: 1;
			}
			&--next {
				left: auto;
				right: 0;
				background: url(icon-card-next.svg) no-repeat 50% 50% / cover;
			}
		}
	}
}
