@import '../abstracts/variables';

.product-filters {
	display: block;
	margin-bottom: 2em;
	@media (max-width: $w-s) {
		padding: 0 1em;
	}
	&__inner {
		display: flex;
		gap: 2em;
		align-items: center;
		@media (max-width: $w-l) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			grid-template-areas: 'active active' 'filters count';
		}
	}
	&__view {
		display: none;
		@media (max-width: $w-m) {
			display: block;
		}
	}
	&__toggle {
		@media (max-width: $w-l) {
			grid-area: filters;
		}
		button {
			height: fit-content;
			min-height: auto;
			text-transform: uppercase;
			gap: 0.5em;
			svg {
				width: 2em;
				height: 2em;
				fill: $color-black;
			}
		}
	}
	&__active {
		display: flex;
		@media (max-width: $w-l) {
			padding-top: 2em;
			grid-area: active;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1em 2em;
		}
	}
	&__remove {
		display: flex;
		text-decoration: none;
		align-items: center;
		gap: 0.75em;
		line-height: 1;
		border-left: 1px solid $color-grey-medium;
		padding: 0.25em 2em;
		@media (max-width: $w-l) {
			border-left: none;
			border-bottom: 1px solid $color-grey-medium;
			padding: 0 0 0.25em 0;
		}
		span {
			font-size: 0.91666666666em;
			display: flex;
			gap: 0.25em;
		}
		svg {
			width: 0.58333333333em;
			height: 0.58333333333em;
			position: relative;
			line {
				fill: none;
				stroke: $color-black;
				stroke-width: 3;
				stroke-linecap: round;
				stroke-linejoin: round;
			}
		}
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	&__count {
		display: flex;
		gap: 1em;
		margin-left: auto;
		@media (max-width: $w-l) {
			grid-area: count;
		}
	}
}
