@import '../abstracts/variables';

.products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2em 1em;
	@media (max-width: $w-xl) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: $w-m) {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5em 0.5em;
	}
	@media (max-width: $w-s) {
		gap: 1.5em 0.25em;
	}
	.card-product {
		&__details {
			@media (max-width: $w-s) {
				padding: 0 1em;
			}
		}
	}
}
