@import '../abstracts/variables';

.section-collection-header {
	&__inner {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	h1 {
		margin-bottom: 0;
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
