@import '../abstracts/variables';

.section-product {
	&__product {
		display: grid;
		grid-template-columns: 1fr 42.5%;
		gap: 10em;
		@media (max-width: $w-xl) {
			gap: 5em;
		}
		@media (max-width: $w-l) {
			gap: 3em;
		}
		@media (max-width: $w-m) {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}
	}
	&__media {
		width: 100%;
		max-width: 100%;
	}
	&__container {
		height: fit-content;
	}
	&__details {
		width: 100%;
		max-width: 100%;
		padding-right: 10em;
		padding-top: 2em;
		padding-bottom: 2em;
		height: fit-content;
		align-self: flex-start;
		position: relative;
		top: 0;
		@media (max-width: $w-xl) {
			padding-right: 5em;
		}
		@media (max-width: $w-l) {
			padding-right: 1em;
		}
		@media (max-width: $w-m) {
			padding-left: 1.5em;
			padding-right: 1.5em;
		}
		@media (max-width: $w-s) {
			padding-left: 1em;
			padding-right: 1em;
		}
		form {
			align-self: flex-start;
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 100%;
		}
		&__availability {
			margin-bottom: 2em;
			.alert {
				display: flex;
				align-items: center;
				gap: 0.75em;
			}
			.marker {
				width: 1.5em;
				height: 1.5em;
				background-color: #e1f0e2;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				span {
					display: block;
					width: 0.83333333333em;
					height: 0.83333333333em;
					border-radius: 50%;
					background-color: $color-success;
					border: 2px solid $color-white;
				}
			}
			.label {
				font-size: 0.85em;
				line-height: 1;
				position: relative;
				top: 1px;
			}
		}
		&__title {
			margin-bottom: 0.75em;
			h1 {
				font-size: 1.16666666667em;
				margin: 0;
			}
		}
		&__colour {
			margin-bottom: 0.75em;
		}
		&__price {
			margin-bottom: 2em;
			line-height: 1;
			.price {
				display: flex;
				gap: 0.75em;
				align-items: center;
			}
			.money {
				font-size: 1.16666666667em;
				font-weight: $weight-bold;
			}
			ins {
				border: none;
			}
			del {
				span {
					font-weight: $weight-regular;
				}
			}
		}
		&__variants {
			margin-bottom: 1.5em;
			&__name {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-weight: $weight-bold;
				margin-bottom: 0.75em;
				gap: 1em;
				button {
					font-weight: $weight-bold;
					text-transform: uppercase;
					text-decoration: underline;
					height: fit-content;
					min-height: auto;
				}
				.variant-warning {
					margin-right: auto;
					color: $color-failure;
					opacity: 1;
					transition: opacity 0 linear;
					&.hidden {
						opacity: 0;
						transition: opacity 0.5s linear;
					}
				}
			}
		}
		&__actions {
			margin-bottom: 1em;
		}
		&__klarna {
			margin-top: 2em;
			klarna-placement {
				display: block;
				margin-bottom: 2em;
			}
		}
		&__messages {
			display: flex;
			flex-direction: column;
			gap: 0.25em;
			.country-message,
			.continent-message {
				text-align: center;
				font-weight: $weight-bold;
				font-size: 0.91666666666em;
				&.hidden {
					display: none;
				}
			}
		}
		&__description {
			ul,
			ol {
				margin: 0 0 1em 0;
				padding: 0 0 0 2em;
			}
			ul {
				list-style-type: disc;
			}
			ol {
				list-style-type: decimal;
			}
		}
		&__reviews {
			padding-top: 2em;
			width: 100%;
			max-width: 100%;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 25%;
				height: 100%;
				z-index: 2;
				background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
				pointer-events: none;
			}
			&::after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 25%;
				height: 100%;
				z-index: 2;
				background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
				pointer-events: none;
			}
		}
	}
}
