@import '../abstracts/variables';

.section-account {
	position: relative;
	&__new-customer {
		text-align: center;
		font-weight: $weight-bold;
		margin-bottom: 5em;
		@media (max-width: $w-l) {
			margin-bottom: 2em;
		}
		&.hidden {
			display: none;
		}
	}
	&__inner {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 7em;
		@media (max-width: $w-l) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 3em;
		}
	}
}
