@import '../abstracts/variables';

.section-cart {
	&__header {
		text-align: center;
		margin-bottom: 3em;
		&.cart-empty {
			text-align: center;
		}
	}
	&__inner {
		display: grid;
		grid-template-rows: auto;
		gap: 2em;
		&.cart-empty {
			text-align: center;
		}
		p {
			margin-bottom: 0;
		}
		.cart-item__wishlist {
			display: none;
		}
	}
	.cart-totals {
		display: flex;
		flex-direction: column;
		gap: 1em;
		width: 33.33333%;
		text-align: center;
		margin-left: auto;
		@media (max-width: $w-l) {
			margin-left: auto;
		}
		@media (max-width: $w-m) {
			margin: 0;
			max-width: 100%;
		}
		&__actions {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}
		form {
			display: grid;
			grid-template-rows: auto;
			gap: 0.5em;
		}
		button {
			width: 100%;
		}
		&__sub-total {
			display: flex;
			justify-content: space-between;
			font-weight: $weight-bold;
			font-size: 1.25em;
		}
	}
}
