@import '../abstracts/variables';

#predictive-search {
	overflow-y: auto;
}
.predictive-search {
	background-color: $color-white;
	&__inner {
		padding: 2em 0;
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-areas: 'products collections';
		gap: 2em;
		@media (max-width: $w-s) {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto;
			grid-template-areas: 'products' 'collections';
		}
	}
	&__title {
		font-weight: $weight-bold;
		margin-bottom: 0.5em;
	}
	&__products {
		grid-area: products;
	}
	&__results {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 1em;
		@media (max-width: $w-l) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__other {
		grid-area: collections;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
	a {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}
