@import '../abstracts/variables';

.section-product-recommendations {
	position: relative;
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 3em;
		@media (max-width: $w-m) {
			gap: 2em;
		}
	}
	&__header {
		text-align: center;
		h3 {
			font-size: 1.66666666667em;
			margin-bottom: 0;
		}
	}
	&__products {
		&:not(.is-draggable) {
			display: flex;
			overflow-x: hidden;
		}
		.product-slide {
			width: 30em;
			min-width: 30em;
			min-height: 45em;
			margin-right: 0.5em;
		}
	}
}
