@import '../abstracts/variables';

.section-recently-viewed {
	position: relative;
	&.hidden {
		display: none;
	}
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 3em;
		@media (max-width: $w-m) {
			gap: 2em;
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h3 {
			margin: 0;
		}
	}
	&__products {
		padding: 0 2.5em;
		position: relative;
		.card-product__media {
			margin-bottom: 0.5em;
		}
		.recent-nav {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 2.5em;
			height: 4em;
			z-index: 3;
			background: url(icon-product-recent-prev.svg) no-repeat 50% 50% / 2.5em;
			cursor: pointer;
			transition: opacity 0.15s linear;
			&--next {
				left: auto;
				right: 0;
				background: url(icon-product-recent-next.svg) no-repeat 50% 50% / 2.5em;
			}
			&.swiper-button-disabled {
				opacity: 0.25;
			}
			&.swiper-button-lock {
				display: block;
			}
		}
	}
}
