body {
	background: $color-black;
	font: 12px $font-base;
	font-weight: $weight-regular;
	color: $color-black;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	overflow-y: auto;
	text-transform: uppercase;
	&.drawer-open {
		overflow: hidden !important;
	}
	@media (max-width: $w-s) {
		font-size: 2.5vw; // 12px at 480 breakpoint
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font: 1.5em $font-base;
	font-weight: $weight-bold;
	line-height: 1.35;
	margin-bottom: 0.66666666666em;
}
p {
	font-size: 1em;
	margin-bottom: 1em;
	line-height: 1.35;
}
strong {
	font-weight: $weight-bold;
}
em {
	font-style: italic;
}
small {
	font-size: 0.75em;
}
del {
	color: $color-black;
	opacity: 0.35;
}
a {
	color: $color-black;
	text-decoration: underline;
	text-decoration-thickness: 0.0625em;
	&:hover,
	&:focus {
		text-decoration: underline;
		text-decoration-thickness: 0.0625em;
		outline: none;
	}
}
.lowercase {
	text-transform: none;
}
.grey-dark {
	color: $color-grey-dark;
}
.grey-medium {
	color: $color-grey-medium;
}
.grey-light {
	color: $color-grey-light;
}
img,
svg,
video {
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
input[type='number'] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
a,
div,
span,
header,
img,
label {
	-webkit-tap-highlight-color: transparent;
}
ul:empty,
dl:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
	display: none;
}
#WebPixelsManagerContainer,
#WebPixelsManagerSandboxContainer {
	display: none;
}
