.footer-main {
	background-color: $color-black;
	color: $color-white;
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 4em;
		@media (max-width: $w-m) {
			padding-top: 1em;
		}
	}
	&__branding {
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: $w-m) {
			display: none;
		}
		a {
			width: 7em;
			display: block;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	&__rows {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 5em;
		@media (max-width: $w-l) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}
		@media (max-width: $w-m) {
			gap: 4em;
		}
	}
	&__aside {
		width: 30em;
		display: flex;
		flex-direction: column;
		gap: 2em;
		@media (max-width: $w-l) {
			width: 100%;
			max-width: 30em;
			margin: 0 auto;
		}
		@media (max-width: $w-s) {
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
		}
		form {
			padding: 0 !important;
		}
		div.needsclick {
			padding: 0 !important;
		}
		&__heading {
			@media (max-width: $w-l) {
				text-align: center;
			}
		}
		&__newsletter {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}
		&__trustpilot {
			img {
				width: 100%;
				max-width: 21em;
				@media (max-width: $w-l) {
					margin: 0 auto;
				}
			}
		}
	}
	&__menus {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 5em;
		@media (max-width: $w-m) {
			gap: 2em;
		}
		@media (max-width: $w-s) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__menu {
		display: flex;
		flex-direction: column;
		gap: 1em;
		&.open {
			.menu-footer {
				display: block;
				&__title {
					background: url(icon-up-light.svg) no-repeat 100% 50% / 1.25em;
				}
			}
		}
		.menu-footer {
			@media (max-width: $w-s) {
				display: none;
			}
			ul {
				display: flex;
				flex-direction: column;
				gap: 0.5em;
				@media (max-width: $w-s) {
					gap: 1em;
				}
			}
			&__title {
				opacity: 0.5;
				@media (max-width: $w-s) {
					opacity: 1;
					background: url(icon-drop-light.svg) no-repeat 100% 50% / 1.25em;
				}
			}
			a {
				color: $color-white;
				text-decoration: none;
				@media (max-width: $w-s) {
					opacity: 0.5;
				}
			}
		}
	}
	&__lower {
		display: flex;
		flex-direction: column;
		gap: 2em;
		text-align: left;
		@media (max-width: $w-l) {
			text-align: center;
		}
	}
	&__apps {
		&__logos {
			display: flex;
			gap: 1em;
			@media (max-width: $w-l) {
				justify-content: center;
			}
			a {
				display: block;
			}
			img {
				width: 10em;
			}
		}
	}
	&__socials {
		.menu-socials {
			padding: 0;
			display: flex;
			gap: 2em;
			width: 100%;
			justify-content: flex-start;
			@media (max-width: $w-l) {
				justify-content: center;
			}
			img {
				width: 1.5em;
				height: 1.5em;
			}
		}
	}
}
