.footer-main {
	background-color: $color-black;
	color: $color-white;
	&__inner {
		display: flex;
		flex-direction: column;
	}
	&__branding {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 5em;
		a {
			width: 7em;
			display: block;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	&__rows {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 5em;
		@media (max-width: $w-l) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
		}
	}
	&__aside {
		width: 30em;
		display: flex;
		flex-direction: column;
		gap: 3em;
		@media (max-width: $w-l) {
			width: 100%;
			max-width: 30em;
			margin: 0 auto;
		}
		@media (max-width: $w-s) {
			width: 100%;
			max-width: 100%;
			margin: 0 auto;
		}
		form {
			padding: 0 !important;
		}
		div.needsclick {
			padding: 0 !important;
		}
		&__heading {
			@media (max-width: $w-l) {
				text-align: center;
			}
		}
		&__newsletter {
			display: flex;
			flex-direction: column;
			gap: 1em;
		}
		&__trustpilot {
			img {
				width: 100%;
				max-width: 21em;
				@media (max-width: $w-l) {
					margin: 0 auto;
				}
			}
		}
	}
	&__menus {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 5em;
		@media (max-width: $w-m) {
			gap: 2em;
		}
		@media (max-width: $w-s) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	&__menu {
		display: flex;
		flex-direction: column;
		gap: 1em;
		.menu-footer {
			&__title {
				opacity: 0.5;
			}
			a {
				color: $color-white;
				text-decoration: none;
			}
		}
	}
}
