main {
	background-color: $color-white;
	width: 100%;
	max-width: 100%;
	min-height: 25vh;
}
.template-collection,
.template-product {
	main {
		min-height: 100vh;
	}
}
.wrap {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 4em;
	@media (max-width: $w-xl) {
		padding: 0 3em;
	}
	@media (max-width: $w-m) {
		padding: 0 2em;
	}
	@media (max-width: $w-s) {
		padding: 0 1em;
	}
	&--full-width {
		max-width: 100%;
	}
	&--xx-large {
		max-width: $w-xxl;
	}
	&--x-large {
		max-width: $w-xl;
	}
	&--large {
		max-width: $w-l;
	}
	&--medium {
		max-width: $w-m;
	}
	&--small {
		max-width: $w-s;
	}
	&--x-small {
		max-width: $w-xs;
	}
	&--no-padding {
		padding: 0;
	}
	&--no-padding-bottom {
		padding-bottom: 0 !important;
	}
	&--no-padding-mobile {
		@media (max-width: $w-m) {
			padding: 0;
		}
	}
	&--no-padding-s-mobile {
		@media (max-width: $w-s) {
			padding: 0;
		}
	}
	&--no-padding-x-large {
		@media (max-width: $w-xl) {
			padding: 0;
		}
	}
}

iframe#launcher {
	z-index: 99 !important;
}
