
<script>
    const swiper_cart = new Swiper('.swiper-recommended', {
        speed: 1000,
        spaceBetween: 12,
        loop: false,
        slidesPerView: 1.5,
        init: false,
    });
    window.cart_drawer_recommendations = function () {
        swiper_cart.init();
    };
</script>

<link href="{{ "drawer-cart-recommended.css" | asset_url }}" rel="stylesheet">

<div class="drawer-cart-recommended__inner">

    <div class="drawer-cart-recommended__header">
        <span>{{ "cart.drawer.related" | t }}</span>
    </div>

    <div class="drawer-cart-recommended__content">
        <div class="swiper swiper-recommended">
            <div class="swiper-wrapper">
                {% for product in recommendations.products %}
                <div class="swiper-slide">
                    {% render "card-product-recommended", product: product %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% schema %}
{
    "name": "Cart Recommendations",
    "tag": "div",
    "class": "drawer-cart-recommended hidden"
}
{% endschema %}